<main class="admin-main">
    <div class="container">
        <section class="params">
            <form class="main-params" @submit.prevent>
                <div class="form-group">
                    <h3>Логотип сайта</h3>
                    <img v-if="logoUrl" :src="logoUrl" alt="Логотип" style="max-height: 60px;" />
                    <input type="file" name="logo" accept="image/*" @change="logo = $event.target.files[0]" />
                    <button type="button" class="btn" @click.prevent="uploadLogo" :disabled="!logo">Загрузить</button>
                </div>
                <div class="form-group">
                    <label>Заголовок сайта</label>
                    <input type="text" v-model="title" placeholder="Заголовок">
                </div>
                <div class="form-group">
                    <label>Описание сайта</label>
                    <textarea v-model="description"></textarea>
                </div>
                <div class="form-group">
                    <label>Мета-теги изображений товаров</label>
                    <textarea v-model="imageMetaTags"></textarea>
                </div>
                <h2>Информация о самовывозе</h2>
                <div class="form-group">
                    <label>Адрес магазина</label>
                    <input type="text" v-model="pickupAddress" placeholder="ул. Пушкина, д.228">
                </div>
                <div class="form-group">
                    <label>Время работы</label>
                    <input type="text" v-model="workHours" placeholder="Пн-Сб 9:00-21:00">
                </div>
                <div class="form-group">
                    <label>Телефон</label>
                    <input type="text" v-model="storePhone" placeholder="+375123456789">
                </div>
                <h2>Стоимость доставки</h2>
                <div class="form-group">
                    <label>Белоруссия</label>
                    <input type="text" v-model="deliveryBel">
                </div>
                <div class="form-group">
                    <label>Россия</label>
                    <input type="text" v-model="deliveryRus">
                </div>
                <div style="display: flex; justify-content: flex-end">
                    <span class="btn btn-primary" @click="saveParams">Сохранить</span>
                </div>
            </form>
        </section>
    </div>
</main>

