:root {
    /* фон */
    --background: linear-gradient(100deg, #eef2ff, #a8dfff);
    --background-secondary: linear-gradient(90deg, #bbe5ff, #add3de);;
    --background-additional: linear-gradient(-45deg, #4678d8, #8e4aff);
    --background-empty: #aeaeae;
    /* основные цвета */
    --primary: #6d7bba;
    --primary-alt: #79a8cd;
    --secondary: #16e4e4;
    /* шапка сайта*/
    --background-header: linear-gradient(135deg, rgba(105, 255, 255, 0.53), rgba(131, 183, 255, 0.49), rgba(109, 216, 216, 0.75), rgba(130, 187, 227, 0.21), rgba(130, 187, 227, 0.21));
    --header-main: #4a6075;
    --header-secondary: #cef1ff;
    --header-additional: #373737;
    /* surface */
    --surface-color: linear-gradient(100deg, #8d9bca, #3e88b3);
    --surface-muted: linear-gradient(100deg, rgba(141, 155, 202, 0.5), rgba(62, 136, 179, 0.5));
    /* text colors */
    --text-primary: #375481;
    --text-secondary: #444e3c;
    --text-additional: #4e5657;
    --text-additional-light: #385559;
    --text-additional-dark: #352a53;
    --text-dark: #433a3a;
    --text-btn: #5e4949;
    --text-simple: #322323;
    --text-hover: #151515;
    /* успех/ок */
    --success-bg: #28a745;
    --success-alt: #2ecc71;
    --success-border: #c3e6cb;
    --success-text: #155724;
    /* информация / статусы*/
    --info-primary: #007bff;
    --info-secondary: #0056b3;
    --info-alt: #3498db;
    --status-primary: #9b59b6;
    /* ошибка/предупреждение */
    --error-bg: #e74c3c;
    --error-red-alt: #d13838;
    --error-border: #f5c6cb;
    --error-text: #721c24;
    --warning: #cd1942;
    --warning-dark: #8a0419;
    /* границы */
    --border-primary: rgba(81, 165, 179, 0.9);
    --border-secondary: rgba(79, 171, 204, 0.8);
    --border-alternative: #4b6764;
    --border-light: rgba(255, 255, 255, 0.2);
    --border-medium: rgb(99, 112, 124, 0.5);
    --border-strong: rgb(61, 82, 94);
    /* buttons */
    --btn-bg: #ffffff;
    --btn-bg-secondary: #ffffff;
    --btn-bg-alt: #ffffff;
    /* hover */
    --hover-primary: #39454c;
    --hover-secondary: rgba(57, 80, 80, 0.56);
    --hover-button: #475963;
    --hover-table: #3f6e6e;
    /* table colors */
    --table-element: #5d5c56;
    --table-element-hover: #97927c;
    /* shadows */
    --shadow-primary: 0 0 8px 2px #415a81;
    --shadow-secondary: 0 0 8px 2px #38384c;
    --shadow-additional: 0 0 8px 2px #282a2e;
    --shadow-header: inset 0 0 24px 8px rgba(93, 180, 207, 0.7);
    /* border radius */
    --radius-primary: 15px;
}