<section
        v-if="block && block.type === 'info_buttons' && block.is_active && block.settings.buttons && block.settings.buttons.length > 0"
        class="info-buttons-block">
    <div class="info-buttons-container">
        <h2 v-if="block.settings.sectionTitle" class="section-title" :id="'info-buttons-title-' + block.id">
            {{ block.settings.sectionTitle }}</h2>
        <div class="buttons-container" :id="'info-buttons-container-' + block.id">
            <a v-for="(button, index) in block.settings.buttons" :key="index" :href="getButtonLink(button)"
               @click="handleButtonClick($event, button)" class="btn btn-secondary">
                {{ button.text }}
            </a>
        </div>
    </div>
</section>