
--background: #ffdbdb;
--background-secondary: #dcdcdc;
--background-additional: #acacac;
--background-empty: #000000;
--surface-color: #e0eaff;
--surface-muted: #dce8fe;
--primary: #000000;
--primary-alt: #545454;
--secondary: #b0b0b0;
--background-header: #ffffff;
--header-main: #000000;
--header-secondary: #8c8c8c;
--header-additional: #d1d1d1;
--text-primary: #000000;
--text-secondary: #595959;
--text-additional: #828282;
--text-dark: #433a3a;
--text-simple: #322323;
--text-additional-light: #385559;
--text-additional-dark: #352a53;
--text-btn: #5e4949;
--text-hover: #151515;
--success-bg: #28a745;
--success-alt: #2ecc71;
--success-border: #c3e6cb;
--success-text: #155724;
--error-bg: #e74c3c;
--error-bg-alt: #000000;
--error-border: #f5c6cb;
--error-text: #721c24;
--warning: #cd1942;
--warning-dark: #8a0419;
--info-primary: #007bff;
--info-secondary: #0056b3;
--info-alt: #3498db;
--status-primary: #9b59b6;
--border-primary: #525252;
--border-secondary: #858585;
--border-alternative: #bdbdbd;
--border-light: #e3e3e3;
--border-medium: #63707c;
--border-strong: #3d525e;
--btn-bg: #ffffff;
--btn-bg-secondary: #ffffff;
--btn-bg-alt: #ffffff;
--btn-bg-disabled: #ffffff;
--hover-primary: #39454c;
--hover-secondary: #395050;
--hover-button: #475963;
--hover-table: #3f6e6e;
--table-element: #5d5c56;
--table-element-hover: #97927c;
--shadow-primary: #1a1a1a;
--shadow-additional: #666666;
--shadow-header: #808080;