.admin-loading-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 1111;
    background: var(--background);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.admin-loader {
    width: fit-content;
    font-size: 40px;
    font-family: system-ui,sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: #0000;
    -webkit-text-stroke: 1px #000;
    background:
            linear-gradient(-60deg,#000 45%,var(--header-secondary) 0 55%,#000 0)
            0/300% 100% no-repeat text;
    animation: l3 2s linear infinite;
}
.admin-loader:before {
    content: "Loading";
}
@keyframes l3 {
    0%{background-position: 100%}
}

.admin-block-loading-container {
    position: absolute;
    display: none;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 900;
    background: var(--background);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
}

.admin-block-loader {
    width: 60px;
    aspect-ratio: 1;
    border: 15px solid var(--background);
    border-radius: 50%;
    position: relative;
    transform: rotate(45deg);
}
.admin-block-loader::before {
    content: "";
    position: absolute;
    inset: -15px;
    border-radius: 50%;
    border: 15px solid var(--header-secondary);
    animation: l18 0.8s infinite linear;
}
@keyframes l18 {
    0%   {clip-path:polygon(50% 50%,0 0,0    0,0    0   ,0    0   ,0    0   )}
    25%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 0   ,100% 0   ,100% 0   )}
    50%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,100% 100%,100% 100%)}
    75%  {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0    100%,0    100%)}
    100% {clip-path:polygon(50% 50%,0 0,100% 0,100% 100%,0    100%,0    0   )}
}